<nav class="navbar navbar-expand-lg navbar-dark bg-info ">
    <div class="container">
      <h2>ProductApp</h2>
            <div class="d-flex">
                <button class="btn btn-light ms-2" routerLink="register">Register</button>
                <button class="btn btn-light ms-3" routerLink="login">Login</button>
                <!-- <button class="btn btn-light ms-3" routerLink="addproduct">ADD Product</button>
                <button class="btn btn-light ms-3"routerLink="cart">My Cart</button>
                <button class="btn btn-light ms-3" routerLink="logout">Logout</button>   -->
            </div>
    </div>
  </nav>
<!-- <mat-toolbar color="primary">
    <span>Product App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="register">Register</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="login">Login</button>
</mat-toolbar>-->
<!-- <app-dashboard></app-dashboard>  -->
