<section class="vh-100">
    
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form #product="ngForm" (ngSubmit)="addProduct(product.value)">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">----------------------------------Add Prodcut-----------------------------</p>
            
            
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">--</p>
          </div>

        
          <div class="form-outline mb-4">
            <input  type="name" id="form3Example3" class="form-control form-control-lg"name="name"placeholder="Enter a Product Name" ngModel/>
            <label class="form-label" for="form3Example3"></label>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          
          <div class="form-outline mb-3">
            <input type="Description" id="form3Example4" class="form-control form-control-lg"name="description"placeholder="Product Description"ngModel />
            <label class="form-label" for="form3Example4"></label>
          </div>

          <div class="form-outline mb-2">
            <input type="Price" id="form3Example4" class="form-control form-control-lg"name="price" placeholder="Product Price" ngModel/>
            <label class="form-label" for="form3Example5"></label>
          </div>

          <div class="form-outline mb-1">
            <input type="Image-Path" id="form3Example4" class="form-control form-control-lg" name="imagePath" placeholder="Product Image Link"ngModel />
            <label class="form-label" for="form3Example4"></label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Add Product</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

  </div>
</section>
